{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 1, "knowledge_revision": 9, "git_revision": "", "hash": "1d666af380b83b2c5033b860e3cfc119", "format-version": 4, "code-base-name": "tic_tac_toe_backend", "filename": "requirements.txt", "revision_history": [{"9": ""}]}